In [1]:
import pandas as pd

In [23]:
#1 import data
path = "your_own_path_here/titanic.csv"
titanic = pd.read_csv(path)

In [24]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [4]:
# Filter feature and target values
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [5]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [6]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [7]:
#2 Data preprocessing
#1ï¼‰ Fill NaN values with mean
x["age"].fillna(x["age"].mean(), inplace = True)

/Users/liusitong/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [9]:
#2) Turn x into Dictionary
x = x.to_dict(orient = "records")

In [11]:
#3 Data split
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 10086)

In [13]:
#4 Dictionary feature extraction
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.feature_extraction import DictVectorizer
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [18]:
 #3 Decision tree estimator
estimator = DecisionTreeClassifier(criterion = "entropy", max_depth = 8)
estimator.fit(x_train, y_train)

#4 model assessment
#Method 1ï¼šCompare real and predicted values
y_predict = estimator.predict(x_test)
print("y_predict: \n", y_predict)
print("Comparing real and predicted values: \n", y_test == y_predict)

#Method 2ï¼šAccuracy
score = estimator.score(x_test, y_test)
print("Accuracyï¼š \n", score)

#Visualization
export_graphviz(estimator, out_file = "titanic_tree.dot", feature_names = transfer.get_feature_names())

y_predict:
 [0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1
 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1
 1 1 1 0 0 0 0 1 1 1 0 1 0 1 1 0 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0
 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 1 1 1 0 1 1 0 0 1
 0 1 1 0 1 0 1 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 0 0 0 0 0 1 1 0 1 1 1 0
 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0]
Comparing real and predicted values:
 525     True
734     True
30      True
491     True
611     True
       ...
281    False
958     True
636     True
823     True
418     True
Name: survived, Length: 329, dtype: bool
Accuracyï¼š
 0.8085106382978723

### Random forest prediction on survival of Titanic passengers

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

estimator = RandomForestClassifier()

#Grid search and cross validation
#preparing parameters
param_dict = {"n_estimators": [120,200,300,500,800,1200], "max_depth": [5,8,15,25,30]}
estimator = GridSearchCV(estimator, param_grid = param_dict, cv = 3)
estimator.fit(x_train, y_train)

#5 model assessment
#Method 1ï¼šcompare real and predicted values
y_predict = estimator.predict(x_test)
print("y_predict: \n", y_predict)
print("Comparing real and predicted values: \n", y_test == y_predict)

#Method 2ï¼šAccuracy
score = estimator.score(x_test, y_test)
print("Accuracy isï¼š \n", score)

# Best parameterï¼šbest_params_
print("Best parameterï¼š\n", estimator.best_params_)
# Best scoreï¼šbest_score_
print("Best scoreï¼š\n", estimator.best_score_)
# Best estimatorï¼šbest_estimator_
print("Best estimatorï¼š\n", estimator.best_estimator_)
# Cross validationï¼šcv_results_
print("Cross validationï¼š\n", estimator.cv_results_)

y_predict:
 [0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1
 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1
 0 1 1 0 0 0 0 1 1 1 0 1 0 1 1 0 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0
 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1
 0 1 1 0 1 0 1 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 0
 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0]
Comparing real and predicted values:
 525     True
734     True
30      True
491     True
611     True
       ...
281    False
958     True
636     True
823     True
418     True
Name: survived, Length: 329, dtype: bool
Accuracy isï¼š
 0.8085106382978723
Best parameterï¼š
 {'max_depth': 5, 'n_estimators': 120}
Best scoreï¼š
 0.8302845528455284
Best estimatorï¼š
 RandomForestClassifier(max_depth=5, n_estimators=120)
Cross validationï¼š
 {'mean_fit_time': array([0.35550268, 0.51930046, 0.87895608, 1.2500941 , 1.68028371,
       3.14140836, 0.28348533, 0.5964183 , 0.68905012, 1.30945706,
       2.0228231 , 3.10259175, 0.33190544, 0.50754364, 0.72619692,
       1.24193994, 2.2177074 , 3.36082164, 0.2945327 , 0.55197469,
       1.04569936, 1.5954148 , 1.98770523, 3.638702  , 0.6359237 ,
       0.87225397, 0.84232235, 1.4055206 , 2.1506544 , 3.63115454]), 'std_fit_time': array([0.09346409, 0.07258611, 0.14071171, 0.16486536, 0.00579403,
       0.62592186, 0.00542038, 0.14228782, 0.00422281, 0.11277332,
       0.21520539, 0.09559934, 0.06109757, 0.04459811, 0.00727183,
       0.07667465, 0.28002337, 0.34588591, 0.00328074, 0.06613505,
       0.10398187, 0.05568545, 0.04952619, 0.33646069, 0.12799521,
       0.22032414, 0.08144728, 0.0765532 , 0.03250375, 0.52241657]), 'mean_score_time': array([0.04187854, 0.05169185, 0.05314589, 0.10428452, 0.14755495,
       0.19741766, 0.02902691, 0.03669906, 0.05327757, 0.11409251,
       0.16347853, 0.24678755, 0.03269291, 0.03592745, 0.05504831,
       0.092477  , 0.15283656, 0.25665108, 0.02221529, 0.03863931,
       0.06144333, 0.12482826, 0.17893593, 0.26903399, 0.05036203,
       0.0388449 , 0.06159759, 0.09231567, 0.21451934, 0.26807944]), 'std_score_time': array([0.02620736, 0.02229391, 0.00363735, 0.01924166, 0.02181434,
       0.00066396, 0.01052111, 0.00095576, 0.00029967, 0.01177882,
       0.03572917, 0.02341777, 0.01547514, 0.0001539 , 0.00278979,
       0.0046918 , 0.00389521, 0.06477145, 0.00019442, 0.00046701,
       0.00557011, 0.04762111, 0.05380433, 0.06146557, 0.01777478,
       0.00098939, 0.01169327, 0.00276973, 0.05972728, 0.07375332]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.82621951, 0.82012195, 0.82012195, 0.82317073, 0.82317073,
       0.82012195, 0.82926829, 0.82926829, 0.82926829, 0.82012195,
       0.82926829, 0.82926829, 0.82317073, 0.80792683, 0.82012195,
       0.82621951, 0.82926829, 0.82926829, 0.82317073, 0.82012195,
       0.82012195, 0.82012195, 0.81707317, 0.82926829, 0.82012195,
       0.82621951, 0.81707317, 0.81707317, 0.82926829, 0.82926829]), 'split1_test_score': array([0.8445122 , 0.84146341, 0.8445122 , 0.84146341, 0.83841463,
       0.8445122 , 0.82621951, 0.82926829, 0.82926829, 0.82926829,
       0.83231707, 0.82621951, 0.83231707, 0.82926829, 0.82926829,
       0.83231707, 0.83231707, 0.82926829, 0.83536585, 0.83231707,
       0.83231707, 0.83231707, 0.83231707, 0.83231707, 0.83231707,
       0.83231707, 0.82926829, 0.83231707, 0.82926829, 0.83231707]), 'split2_test_score': array([0.82012195, 0.82317073, 0.82012195, 0.81402439, 0.82317073,
       0.81707317, 0.79268293, 0.77439024, 0.79573171, 0.79878049,
       0.78963415, 0.78963415, 0.76829268, 0.78658537, 0.77134146,
       0.78963415, 0.77439024, 0.77134146, 0.77439024, 0.76829268,
       0.77134146, 0.78963415, 0.77134146, 0.77134146, 0.77134146,
       0.78658537, 0.77439024, 0.77439024, 0.77134146, 0.77134146]), 'mean_test_score': array([0.83028455, 0.82825203, 0.82825203, 0.82621951, 0.82825203,
       0.82723577, 0.81605691, 0.81097561, 0.81808943, 0.81605691,
       0.81707317, 0.81504065, 0.80792683, 0.80792683, 0.80691057,
       0.81605691, 0.81199187, 0.80995935, 0.81097561, 0.80691057,
       0.80792683, 0.81402439, 0.80691057, 0.81097561, 0.80792683,
       0.81504065, 0.80691057, 0.80792683, 0.80995935, 0.81097561]), 'std_test_score': array([0.01036386, 0.00942441, 0.01149767, 0.01140749, 0.00718604,
       0.01227952, 0.0165747 , 0.02586976, 0.0158093 , 0.01277419,
       0.0194422 , 0.01800818, 0.02827323, 0.01742523, 0.02542682,
       0.01884882, 0.02661748, 0.02730697, 0.02634447, 0.02775711,
       0.02634447, 0.01795073, 0.02590965, 0.0280532 , 0.02634447,
       0.02027433, 0.02352812, 0.02451695, 0.02730697, 0.0280532 ]), 'rank_test_score': array([ 1,  2,  4,  6,  2,  5,  9, 18,  7,  9,  8, 13, 22, 22, 27,  9, 15,
       20, 18, 27, 22, 14, 27, 16, 22, 12, 27, 22, 20, 16], dtype=int32)}